@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root{
  --font: "Poppins", sans-serif;
  --label-color: #374151;
  --bg-color: #F9FBFD;
  --danger-color: #7F1D1D;
  --main-font-color: #000000;
  --menu-color: #D1D5DB;
  --success-color: #006044;
}


body p{
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--main-font-color);

  
}

label{
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  color: var(--label-color);
}

h1{
  font-family: var(--font);
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: var(--main-font-color);
}

h3{
  font-size:20px;
  font-weight: 600;
  font-style: oblique;
  font-family: var(--font);
}

.icons{
  height:24px;
  width:24px;
}

.form-header{
  align-self:start;
  margin-left:70px;
}

.danger-text{
  display: flex;
  align-self: flex-start;
  margin-left: 75px;

  max-width: 400px;  

  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--danger-color);
}

.danger-small{
  margin-left: 0px;
  font-size: 16px;
}

.danger-center{
  align-self:center;
  display:flex;
  margin:0;
}

.success-text-mini{
  display: flex;

  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  align-self: flex-start;
  color: var(--success-color);
}

.main-text{
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--main-font-color);
}

.hint-text{
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: var(--label-color);
  max-width: 400px;
  /* margin-left:20px; */
}

a{
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  color: var(--label-color);
}

a:hover{
  color: var(--main-font-color);
}

.danger{
  color: var(--danger-color);
}

.main_input{
  min-width: 400px;
  height: 48px;
  border-radius: 7px;
  padding: 10px;

  font-family: var(--font);
  font-size: 15px;
  color: var(--label-color);
}

.big_button{
  min-width:400px;
  height:52px;
  font-size: 16px;
}
    
.small_links{
  text-decoration: underline;
}

.right-helper {
  display: flex;
  align-content: center;
  align-self: flex-end;
  margin-right: 30px;
}

.nav-button{
  border-radius: 6px;
  width: 200px;
  height: 40px;
  gap: 6px;

  display: flex;
  justify-content: flex-start;
  gap: 10px;
  
  font-family: var(--font);
  font-size: 14px;
}

h2{
  font-family: var(--font);
  font-weight: 600;
  font-style:normal;
  font-size: 24px;
}

h4{
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font);
}

.title{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.tickets-table{
  width:100%;
  margin: 0 auto;
}

button{
  width:250px;
}


.main-container{
  width:100vw;
  min-height:100vh;

  display:flex;
  flex-direction: row;

}

.left-panel{
  height:100%;
  width: 250px;
  position: fixed;
  background-color: var(--menu-color);
}

.right-panel{
  padding-top: 25px;
  margin-left:250px;

  /* padding-left: 50px; */
  /* padding-right: 50px; */
  flex-grow: 1;
  display:flex;
  flex-direction: column;

  background-color: var(--bg-color);
}

.body-container{
  /* height:250px; */
  flex-grow: 1;

  display:flex;
  flex-direction: column;

  gap:10px;

  width: 100%;
  align-self: center;
  align-items: center;
}

.menu{
  margin-top: 25px;
  flex-wrap: nowrap;
  align-content: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chat-color{
  background-color: unset;
}

.home-title{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  padding-left: 50px;
  padding-right: 50px;
}

.home-filters{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
}

.home-table-content{

}

.btn-style{
  height:36px;
  max-width:150px;
  min-width: 125px;
}

.pagination button{
  width: 50px;
  font-size: 14px;
}

.pagination .page-button{
  width: 100px;
}

.filters .tab{
  padding-left: 125px;
  padding-right: 125px;
  height: 36px;
}

.table{
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  table-layout: fixed;
}

.table thead tr th{
  text-align: center;
}

.table tbody tr td{
  border-right: 1px solid var(--menu-color);
  text-align: center;
}


tbody tr:hover{
  background-color: var(--menu-color);
  cursor: pointer;
}

td .badge{
  border-radius: 15px;
}

dialog button{
  width:35px;
  height:35px;
}

.modal-form{
  display:flex;
  flex-direction: column;
  gap:25px;
  margin-top:30px;
  align-items: center;
}

.modal-component{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-component label{
  font-weight: 400;
  font-family: var(--font);
  font-size:14px;
}

.modal-component input{
  font-size:14px;
}

.modal-component textarea{
  font-size:14px;
}

.modal-form .btn{
  width:220px;
  height:40px;
  font-size: 16px;
}

.ticket-info-title{
  justify-content: start;
  align-items: center;
  gap:200px;
}

.info-ticket-container{
  display:flex;
  flex-direction: row;
  height:83vh;
  width:100%;
}

.left-chat-panel{
  padding: 10px;
  flex-grow: 1;
  border-top: 2px solid var(--menu-color);
  border-right: 0.5px solid var(--menu-color);

  display: flex;
  flex-direction: column;
  justify-content: end;
  
}

.chatMessages{
  overflow-x: hidden;
  overflow-y: auto ;
}

.right-info-panel{
  padding: 10px;
  min-width:350px;
  max-width:400px;

  border-top: 2px solid var(--menu-color);
  border-left: 0.5px solid var(--menu-color);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticket-details{
  display: flex;
  flex-direction: column;
  gap:10px;
  flex-wrap: nowrap;
}

.user-input{

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top:10px;
  padding-bottom:10px;

  align-items: center;
}

.user-input textarea{
  width:90%;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font);
}

.user-input button{
  height: 45px;
}

.center-loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-page{
  position:relative;
  top:50%;
  /* left:50%; */
  /* transform: translate(-50%, -50%); */
}

.text-no-resize{
  resize: none;
}

.modal-box{
  background-color: var(--bg-color);
  min-width: 570px;
  min-height: 400px;
}

.modal-component input{
  min-width: 535px;
  height: 48px;  
}
.modal-component textarea{
  min-width: 535px;
  height: 84px;  
}


.truncate-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-ticket{
  width: 500px;
}

.wrap-text{
 word-wrap: break-word;
 word-break: break-all;
}

.settings-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: flex-start;
  padding-left: 50px;
}

.settings-container h3{
  font-style: normal;
}

fieldset{
  display:flex;
  flex-direction: column;
  gap: 6px;
}

fieldset legend{
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
}

fieldset input{
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
}

fieldset p{
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
}

.settings-main-page{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-self: flex-start;
}

.deletion-form{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.deletion-form .btn{
  height: 55px;
}

.modal-stretch{
  min-height: 0px;
}

.images-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.attach-images{
  width:86px;
  height:86px;
  border-radius: 8px;
}

.attach-images:hover{
  border: 1px solid var(--main-font-color);
  scale: 1.1;
  transition: all 0.25s ease;
}


.modal-image-center{
  margin: 0 auto;
  margin-top:20px;
}

.image-modal{
  min-width: 750px;
  min-height: 500px;
}